body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;    
}

img {
    max-width: 300px;
    border-radius: 10px; 
    
}

.container {
background-color: white;
border-radius: 15px;
padding: 12px;
max-width: 300px;
margin-top: 80px;;
margin-left: 500px;

}

h2 {
    max-width: 375px;
    font-family: 'Outfit';
    font-weight: bold;
    text-align: center;     
}

p {
    max-width: 375px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
    margin-left: 28px;
    margin-right: 28px;    
}